*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
def sum_numbers(lst):
    total = 0
    for num in lst:
        total += num
    return total
numbers = [8, 2, 3, 0, 7]
print(sum_numbers(numbers))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
def multiply_numbers(lst):
    result = 1
    for num in lst:
        result *= num
    return result

# Sample list
numbers = [8, 2, 3, -1, 7]
print(multiply_numbers(numbers))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
s = "1234abcd"
reversed_s = ""
for char in s:
    reversed_s = char + reversed_s
print(reversed_s)

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
num = 5
print("Factorial:", factorial(num))

Factorial: 120

5) Write a Python function to check whether a number falls within a given range.

In [5]:
def is_within_range(num, start, end):
    return start <= num <= end
num = 10
start = 5
end = 20
print(is_within_range(num, start, end))

True